.container {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: var(--secondary-color1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  gap: 2rem;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
}

.icon {
  width: 3.2rem;
  height: 3.2rem;
}

.loaderTitle{
  color: var(--secondary-color2);
  letter-spacing: .1rem;
  font-weight: 400;

}
